@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CartItem>
@{
    ViewData["Title"] = "CartAdd";
}

<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-danger">Cart Items</h2>
        </div>
        <div class="col-6 text-primary text-right">
            <a  asp-controller="Home" asp-action="StoreFront">
                <div class="btn btn-outline-success">
                    Add Item
                </div>
            </a>
            <a asp-controller="Home" asp-action="Back">
                <div asp-controller="Home" asp-action="Back" class="btn bg-warning">
                    Drop
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center align-items-center">
        <img style="width :140px" class="img-fluid" src="https://i.postimg.cc/kgP0qtFj/sammy-shopping.png" />
    </div>
    
    <br /><br />
    

    @if (Model.Count() > 0)
    {

        <table class="table table-striped table-bordered" style="width : 100%">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th>
                        Product Quantity
                    </th>
                    <th>
                        Product Total
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.Name</td>
                        <td width="30%">@item.Price</td>
                        <td width="30%">@item.Quantity</td>
                        <td width="30%">@item.Total</td>
                        <td class="text-center">
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p class="text-success font-weight-bold">Total (₦):</p>
        <input value="@Model.Sum(x=> x.Quantity*x.Price)"type="text" readonly class="form-control" />
        <div class="ml-auto mt-3 text-white btn-group">
            <a asp-controller="Home" asp-action="Print" class="btn btn-success">Check Out</a>
        </div>

    }
    else
    {
        <p style="text-align:center">There are No CartItems...</p>
    }

</div>


